# Environment
.env
.secrets
.secrets.*
.streamlit/secrets.toml

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3
*.db

# Virtual envs
.venv/
venv/
.envrc

# OS files
.DS_Store
Thumbs.db

# Streamlit
.streamlit/

# Logs
*.log

# Jupyter
.ipynb_checkpoints/

# Build artifacts
build/
dist/
*.egg-info/